extends ../layouts/app.pug

block content
  .row
    .col
    .col-9
      table.table.table-hover
        thead.thead-light
          tr
            th(scope="col") #
            th(scope="col")= t('views.users.index.firstName')
            th(scope="col")= t('views.users.index.lastName')
            th(scope="col")= t('views.users.index.email')
            th
        tbody
          - let n = 0
          for user of users
            tr
              th(scope="row")= n += 1
              td= user.firstName
              td= user.lastName
              td= user.email
              td
               if reply.request.signedIn
                .d-flex
                  a.btn.btn-outline-info.ml-auto(href=route('userProfile', { id: user.id }))= t('views.users.index.watchProfile')
    .col