extends ../layouts/app.pug

block content
  .row
    .col
    .col-7
      table.table.table-hover.mb-4
        thead.thead-light
          tr
            th(scope="col") #
            th(scope="col")= t('views.labels.index.name')
            th
        if labels.length > 0
          tbody
            - let n = 0
            for label of labels
              tr
                th(scope="row")= n += 1
                td= label.name
                td
                  .d-flex.justify-content-end
                    a.btn.btn-outline-info.mr-2(href=route('labelProfile', { id: label.id }))= t('views.labels.index.edit')
                    +formFor(action=route('deleteLabel', { id: label.id }), method='post')
                      +buttonTo(labelsForm, 'delete').btn-danger
      a.btn.btn-dark.btn-block(href=route('newLabel'))= t('views.labels.index.new')
    .col