extends ../layouts/app.pug

block content
  .row
    .col
    .col-11
      include filter.pug
      table.table.mb-4
        thead.thead-light
          tr
            th(scope="col") #
            th(scope="col")= t('views.tasks.index.name')
            th(scope="col")= t('views.tasks.index.status')
            th(scope="col")= t('views.tasks.index.creator')
            th(scope="col")= t('views.tasks.index.executor')
            th(scope="col")= t('views.tasks.index.description')
            th(scope="col")
        tbody
          if tasks.length > 0
            - let n = 0
            for task of tasks
              tr
                th(scope="row")= n += 1
                td= task.name
                td= task.taskStatus.name
                td
                  a(href=route('userProfile', { id: task.creator.id }))= task.creator.name
                td
                  if task.executor
                    a(href=route('userProfile', { id: task.executor.id }))= task.creator.name
                  else
                    .d-flex.justify-content-center —
                td
                  if task.description
                    button.btn.btn-secondary.btn-sm(type="button" data-toggle="collapse" data-target=`#collapse${n}` aria-expanded="false" aria-controls=`collapse${n}`)= t('views.tasks.index.show')
                  else
                    .d-flex.justify-content-center —
                td
                  .d-flex.justify-content-end
                    if reply.request.currentUser.id === task.creatorId
                      +formFor(action=route('deleteTask', { creatorId: task.creatorId, id: task.id }), method='post')
                        +buttonTo(taskForm, 'delete').btn-danger
                    a.btn.btn-outline-info.ml-2.btn-sm(href=route('taskProfile', { id: task.id }))= t('views.tasks.index.edit')
              tr
                if task.labels.length > 0
                  td(colspan="7")
                    for label of task.labels
                      span.badge.badge-info.mr-1= label.name
              tr
                if task.description
                  td.collapse(id=`collapse${n}` colspan="7")= task.description
      a.btn.btn-dark.btn-block(href=route('newTask'))= t('views.tasks.index.add')
    .col