extends ../layouts/app.pug

block content
  .row
    .col
    .col-6
      form(method='POST' action=route('createTask'))
        .form-group
          label= `${t('views.tasks.name')}:`
          if errors.name
            input.form-control.is-invalid(type='text' name='name')
            .invalid-feedback= t('views.tasks.new.errors.name')
          else
            input.form-control(type='text' name='name')
        .form-group
          label(for="formControlSelect1")= `${t('views.tasks.status')}:`
          select(id="formControlSelect1" name="taskStatusId").custom-select
            for status of statuses
              option(value=status.id)= status.name
        .form-group
          label(for="formControlSelect2")= `${t('views.tasks.executor')}:`
          select(id="formControlSelect2" name="executorId").form-control
            option(value='') —
            for executor of executors
              option(value=executor.id)= `${executor.firstName} ${executor.lastName}`
        .form-group
          label= `${t('views.tasks.description')}:`
          textarea.form-control(type='text' name="description" rows='3')= description
        button.btn.btn-warning.btn-block(type='submit')= t('views.tasks.new.submit')
    .col