include ../mixins/forms.pug

doctype html
html
  head
    title task-manager
    script(src=assetsPath('main.js'))
    link(href=assetsPath('main.css'))
  body.d-flex.flex-column
    nav.navbar.navbar-light.navbar-expand-lg.mb-3
      a.navbar-brand(href=route('root'))= t('appName')
      .collapse.navbar-collapse
        if reply.request.signedIn
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href=route('usersIndex'))= t('layouts.app.users')
          ul.navbar-nav
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Задачи
              .dropdown-menu(aria-labelledby="navbarDropdown")
                a.dropdown-item(href=route('tasksIndex'))= t('layouts.app.tasks')
                a.dropdown-item(href=route('taskStatusesIndex'))= t('layouts.app.taskStatuses')
                a.dropdown-item(href=route('labelsIndex'))= t('layouts.app.labels')
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href=`/users/${reply.request.currentUser.id}`)= t('layouts.app.own')
            li.nav-item
              form.form-inline(action=route('sessionDestroy') method='post')
                input(type="hidden" name="_method" value="DELETE")
                button.btn.btn-outline-danger(type="submit")= t('layouts.app.signOut')
        else
          ul.navbar-nav.ml-auto
            li.nav-item
              a.btn.btn-light.mr-2(href=route('sessionNew'))= t('layouts.app.signIn')
            li.nav-item
              a.btn.btn-outline-primary(href=route('usersNew'))= t('layouts.app.signUp')
    - const flashMessage = reply.flash();
    if flashMessage
     each message, typeOfMessage in flashMessage
      .container
        .alert.alert-dismissible.fade.show(class=`alert-${typeOfMessage}` role="alert")= message
          button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
    main.container(role="main").mt-2
      block content